[Unit]
Description=NAS Notifier
After=network.target

[Service]
ExecStart=/usr/local/bin/nas-notifier
Environment="RUST_LOG=INFO"
Type=exec

[Install]
WantedBy=default.target
RequiredBy=network.target
